.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-height: calc(100dvh - 100px);
  padding: 20px;
  width: 1600px;
}

@media screen and (max-width: 1600px) {
  .content {
    width: 100%;
    gap: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .content {
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: 550px;
  height: 755px;
  padding: 35px;
  border-radius: 20px;
  background-color: var(--purple-40pct);
}

@media screen and (max-width: 1200px) {
  .formContainer {
    width: 100%;
    height: 100%;
    padding: 20px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  width: 440px;
}

@media screen and (max-width: 768px) {
  .form {
    width: 100%;
  }
}

.formTitle {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 20px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3px;
  width: 100%;
  height: 40px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3px;
  width: 100%;
  height: 85px;
}

.label {
  font-size: 16px;
  font-weight: 400;
}

.input {
  font-size: 18px;
  font-weight: 400;
  color: var(--gray-900);
  background-color: var(--purple-color-100);
  width: 100%;
  padding: 13px 20px;
  background-color: var(--white);
  border-radius: 20px;
}

.input::placeholder {
  color: var(--gray-color-500);
  font-size: 18px;
  font-weight: 400;
}

.error {
  color: var(--error-500);
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.passwordWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  position: relative;
}

.showPassword {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--white);
}

.submit {
  font-size: 20px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--purple-color-600);
  border-radius: 60px;
  padding: 14px;
  width: 100%;
  cursor: pointer;
}

.submit:hover {
  background-color: var(--secondary-color);
}

.submit:disabled {
  cursor: not-allowed;
  background-color: grey;
}

.status {
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.request {
  color: blue;
}

.success {
  color: green;
}

.text {
  padding-top: 20px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.forgot {
  width: 100%;
  text-align: end;
  padding-bottom: 20px;
}

.link {
  color: var(--purple-color-600);
}
