.home_page_card {
    padding: 20px;
    display: flex;
    align-items: start;
    flex-direction: column;
    background-color: var(--gray-50);
    border-radius: 12px;
}

.card_title {
    margin-top: 16px;
    font-weight: 500;
    font-size: 18px;
    max-width: 280px;
    color: #000;
}

.card_subtitle {
    font-size: 14px;
    font-weight: 400;
    margin-top: 12px;
    color: var(--gray-700);
    max-width: 280px;
}

.card_info span {
    margin: 16px 0;
    color: var(--gray-700);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.card_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card_img {
    width: 314px;
    height: 188px;
    border-radius: 20px;
}