.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  height: 100dvh;
  width: 100%;
}

.text {
  font-size: 20px;
  color: var(--error-500);
}
