.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.name {
  font-size: 25px;
  font-weight: bold;
}

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.link {
  font-size: 25px;
  font-weight: bold;
  color: var(--primary-color);
}

.link:hover {
  color: var(--secondary-color);
}
