.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user_name_status {
  display: flex;
  flex-direction: column;
}

.user_status {
  font-size: 14px;
  color: #363636;
  font-weight: 400;
}

.name {
  font-size: 18px;
  font-weight: 500;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(210, 210, 210);
  margin-left: 32px;
}

.nofitication {
  border-radius: 16px;
  background-color: #EFEFFE66;
  padding: 16px;
  margin-left: 32px;
  cursor: pointer;
}

.logout {
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: var(--primary-color);
  padding: 5px 10px;
}

.logout:hover {
  background-color: var(--secondary-color);
}

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.link:first-child {
  background-color: transparent;
  padding: 12px 40px;
}

.link {
  font-size: 20px;
  font-weight: 500;
  padding: 12px 60px;
  background-color: var(--purple-color-100);
  color: var(--purple-color-600);
  border-radius: 60px;
}

.link:hover {
  color: var(--secondary-color);
}
