.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.input {
  height: 72px;
  width: 100%;
  background-color: var(--white);
  border-radius: 20px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 400;
  color: var(--gray-900);
}
.input::placeholder {
  color: var(--gray-300);
}

.sendIcon {
  position: absolute;
  right: 20px;
  cursor: pointer;
}
