.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  width: 100%;
  padding-left: 110px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: calc(100% - 70px);
  width: 100%;
  padding: 20px;
  gap: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  padding: 20px 30px;
  gap: 20px;
  background-color: var(--gray-50);
  border-radius: 20px;
}

.notificationList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-right: 30px;
  gap: 20px;
  overflow-y: auto;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.input {
  height: 72px;
  width: 100%;
  background-color: var(--white);
  border-radius: 20px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 400;
  color: var(--gray-900);
}

.sendIcon {
  position: absolute;
  right: 20px;
  cursor: pointer;
}
